footer {
  min-height: 4vh;
  background-color: #131314fb;
  @include flex(center, center);

  .container {
    width: 85%;
    margin: 0 auto;
    @include flex(center, center);
  }

  .copyright {
    flex: 4 1 40rem;
    color: #f1f1f1;
    font-family: "Courier New", Courier, monospace;
  }

  ul {
    @include flex(space-around, center);
    list-style-type: none;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.1rem;
    flex: 1 1 10rem;
  }

  li {
    cursor: pointer;
    color: #f1f1f1;
  }
}
